:root {
  --border-color: #EEEFF2;

  --background-color: #FBFBFB;

  --primary-color: rgba(245, 56, 56, 1);
  --secondary-color: rgba(245, 56, 56, 0.35);
  --text-heading-color: rgba(11, 19, 42, 1);
  --text-paragraph-color: #4F5665;
  --shadow-black-color: rgba(11, 19, 42, 0.1);
}

* {
  box-sizing: border-box;
}

.rubik-light {
  font-weight: 300;
  font-style: normal;
  font-family: "Rubik", sans-serif;

  font-optical-sizing: auto;
}

.rubik-regular {
  font-weight: 400;
  font-style: normal;
  font-family: "Rubik", sans-serif;

  font-optical-sizing: auto;
}

.rubik-medium {
  font-weight: 500;
  font-style: normal;
  font-family: "Rubik", sans-serif;

  font-optical-sizing: auto;
}

.rubik-bold {
  font-weight: 700;
  font-style: normal;
  font-family: "Rubik", sans-serif;

  font-optical-sizing: auto;
}

.btn {
  position: relative;

  transition: box-shadow 0.3s ease-in-out;
}

.btn-primary {
  position: relative;

  padding: 12px 60px;

  border: none;
  border-radius: 50px;

  background-color: var(--primary-color);

  color: #FFFFFF;

  text-decoration: none;
}

.btn-secondary {
  position: relative;

  padding: 12px 60px;

  border: 1px solid var(--primary-color);
  border-radius: 50px;

  color: var(--primary-color);

  text-decoration: none;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;

  display: none;

  width: 80%;
  height: 100%;

  box-shadow: 0 20px 40px var(--secondary-color);
}

.btn:hover {
  background-color: var(--primary-color);

  color: #FFFFFF;
}

.btn:hover::after {
  display: block;

  transition: box-shadow 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;

  color: var(--text-paragraph-color);
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

header {
  padding-top: 45px;
}

.container {
  width: 1140px;

  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 149px;
}

.menu {
  display: flex;
  align-items: center;

  gap: 30px;
  list-style: none;
}

.menu li a {
  color: var(--text-paragraph-color);

  text-decoration: none;
}

.menu li a:hover {
  color: var(--primary-color);
}

.menu li a.sign-in {
  color: var(--text-heading-color);
}

.menu li a.sign-in:hover {
  color: var(--primary-color);
}

.menu li a.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 45px;

  border: 1px solid var(--primary-color);
  border-radius: 50px;

  color: var(--primary-color);
  text-align: center;
}

.menu li a.sign-up:hover {
  background-color: var(--primary-color);

  color: #FFFFFF;
}

main {
  position: relative;

  padding-top: 100px;
}

.hero > .container {
  display: flex;

  gap: 40px;
}

.hero-content {
  flex: 1 0 0;

  gap: 20px;
}

.hero-title {
  margin: 0 auto 20px;

  color: var(--text-heading-color);
  font-size: 50px;
  line-height: 1.4;
}

.hero-description {
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 1.875;
}

.hero-buttons a.btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 65px;

  border-radius: 10px;

  background-color: var(--primary-color);

  color: #FFFFFF;
  text-align: center;

  text-decoration: none;
}

.hero-buttons a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;

  display: none;

  width: 80%;
  height: 100%;

  box-shadow: 0 20px 40px var(--secondary-color);
}

.hero-buttons a:hover::after {
  display: block;
}

.hero-image {
  flex: 1 0 0;

  max-width: 611px;
}

.hero-image img {
  width: 100%;
}

.data {
  display: flex;
  justify-content: center;

  height: 200px;

  margin-top: 100px;
}

.data-list {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  margin: 0;
  padding: 0 40px;

  border-radius: 10px;
  box-shadow: 0 20px 50px var(--shadow-black-color);

  background-color: #FFFFFF;

  list-style: none;
}

.data-list .data-item {
  flex: 1;

  height: 126px;
}

.data-item {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 36px;
  border-right: 1px solid var(--border-color);
}

.data-item:last-child {
  border-right: none;
}

.data-item img {
  width: 55px;
  height: 55px;
}

.data-item h3 {
  margin: 0;

  color: var(--text-heading-color);
  font-size: 25px;
}

.data-item p {
  margin: 0;

  color: var(--text-paragraph-color);
  font-size: 20px;
}

.features {
  padding: 100px 0;
}

.features .container {
  display: flex;
  justify-content: center;

  gap: 40px;
}

.features .features-image,
.features .features-content {
  flex: 1 0 0;
}

.features .features-image img {
  width: 100%;
  max-width: 508px;
}

.features-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features-title {
  margin: 0;

  color: var(--text-heading-color);
  font-size: 35px;
  line-height: 1.4;
}

.features-description {
  margin: 20px 0;

  font-size: 16px;
  line-height: 1.875;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: flex;
  align-items: center;

  margin: 10px 0;

  gap: 20px;
}

.features-item img {
  width: 24px;
  height: 24px;
}

.features-item p {
  margin: 0;
}

.plans {
  padding: 80px 0;

  background-color: var(--background-color);

  text-align: center;
}

.plan-title {
  margin: 0;

  color: var(--text-heading-color);
  font-size: 35px;
  line-height: 1.4;
}

.plan-description {
  max-width: 550px;

  margin: 20px auto;

  color: var(--text-paragraph-color);
  font-size: 16px;
  line-height: 1.875;
}

.plan-cards {
  display: flex;
  justify-content: center;

  margin-top: 60px;

  gap: 40px;
}

.plan-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  min-width: 330px;
  min-height: 760px;

  padding: 80px 0 50px;

  border: 1px solid #DDDDDD;
  border-radius: 10px;

  background-color: #FFFFFF;
}

.plan-body {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.plan-image img {
  width: 145px;
}

.plan-card h3 {
  margin: 30px 0;

  color: var(--text-heading-color);
  font-size: 18px;
}

.plan-card h3 span {
  color: var(--text-paragraph-color);
}

.plan-features-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
  gap: 10px;
}

.plan-features-item {
  display: flex;
  align-items: center;

  height: 30px;

  font-size: 14px;

  gap: 10px;
}

.plan-features-item img {
  width: 24px;
  height: 24px;
}

.plan-features-item p {
  margin: 0;
}

.plan-footer a.btn {
  display: inline-block;
}

.features-buttons {
  margin-top: 20px;
}

.network {
  padding: 100px 0;

  background-color: var(--background-color);
}

.network .container {
  text-align: center;

  gap: 40px;
}

.network-title {
  max-width: 380px;

  margin: 0 auto;

  color: var(--text-heading-color);
  font-size: 35px;
  line-height: 1.4;
}

.network-description {
  max-width: 550px;

  margin: 20px auto;

  color: var(--text-paragraph-color);
  font-size: 16px;
  line-height: 1.875;
}

.network-image {
  margin-top: 130px;
}

.network-image img {
  width: 100%;
}

.companies {
  margin-top: 130px;
}

.companies ul {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
  gap: 40px;
}

.companies ul li img {
  height: 60px;
}

.customers {
  padding: 0 0 150px;

  background-color: var(--background-color);
}

.customers .container {
  text-align: center;
}

.customers-title {
  max-width: 380px;

  margin: 0 auto;

  color: var(--text-heading-color);
  font-size: 35px;
  line-height: 1.4;
}

.customers-description {
  max-width: 550px;

  margin: 20px auto;

  color: var(--text-paragraph-color);
  font-size: 16px;
  line-height: 1.875;
}

.customers-cards {
  display: flex;
  justify-content: start;

  margin-top: 60px;

  gap: 40px;
  /* overflow-x: auto; */
}

.customers-card {
  min-width: 400px;

  padding: 30px;

  border: 1px solid #DDDDDD;
  border-radius: 10px;

  background-color: #FFFFFF;
}

.customers-card:hover {
  border-color: var(--primary-color);

  cursor: pointer;
}

.customers-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.customers-card-header-content {
  display: flex;
  justify-content: center;

  gap: 20px;
}

.customers-card-header img {
  width: 50px;
}

.customers-card-header h3 {
  margin: 5px 0;

  color: var(--text-heading-color);
  font-size: 18px;
}

.customers-card-header p {
  margin: 0;

  color: var(--text-paragraph-color);
  font-size: 16px;
  text-align: left;
}

.customers-card-rating {
  display: flex;
  align-items: self-end;

  gap: 10px;
}

.customers-card-rating img {
  width: 20px;
}

.customers-card-description {
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--text-paragraph-color);
  font-size: 16px;
  text-align: left;
  line-height: 1.875;
}

.customers-slider {
  display: flex;
  justify-content: space-between;

  margin-top: 80px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  gap: 10px;
}

.indicator-item {
  display: inline-block;

  width: 15px;
  height: 15px;

  border-radius: 15px;

  background-color: #DDE0E4;
}

.indicator-item.active {
  display: inline-block;

  width: 45px;

  background-color: var(--primary-color);
}

.customers-slider-arrows {
  display: flex;

  cursor: pointer;

  gap: 20px;
}

.customers-slider-arrows img {
  width: 60px;
}

.subscription {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;

  transform: translateY(50%);
}

.subscription .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 45px 70px;

  background-color: #FFFFFF;
}

.subscription-title {
  max-width: 370px;

  margin: 0;

  color: var(--text-heading-color);
  font-size: 35px;
  line-height: 1.4;
}

.subscription-description {
  margin: 20px 0 0;

  color: var(--text-paragraph-color);
  font-size: 16px;
  line-height: 1.875;
}

.subscription .btn-primary {
  padding: 20px 60px;

  border-radius: 10px;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 200px 80px 40px;

  background-color: #F8F8F8;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  max-width: 300px;
}

.footer-description {
  margin: 20px 0;

  color: var(--text-paragraph-color);
  font-size: 16px;
  line-height: 1.875;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 149px;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  display: inline-block;

  margin-right: 10px;
}

.social-icons img {
  width: 34px;
}

.copyright {
  color: #AFB5C0;
}

.footer-right {
  display: flex;

  gap: 80px;
}

.footer-column h3 {
  margin-bottom: 10px;

  color: var(--text-heading-color);
  font-size: 18px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

.footer-column ul {
  padding: 0;

  list-style: none;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: var(--text-paragraph-color);
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 1.875;

  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}
