@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: rgba(245, 56, 56, 1);
  --color-secondary: rgba(245, 56, 56, 0.35);
  --color-text-heading: rgba(11, 19, 42, 1);
  --color-text-paragraph: #4F5665;
  --color-shadow-black: rgba(11, 19, 42, 0.1);
}

@custom-variant dark (&:where(.dark, .dark *));